.footer_wrapper {
  max-width: 40rem;

  margin: 0rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.socials_list {
  width: 100%;
  max-width: 17.5rem;
  display: flex;
  justify-content: space-between;
}

.social_icon {
  display: block;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.footer_text {
  font-size: 0.88rem;
}

.links_list {
  width: 100%;
  max-width: 20.4rem;
  display: flex;
  justify-content: space-between;
  margin: clamp(1rem, 3vw, 2rem) 0rem;
}

.footer_link {
  cursor: pointer;
  font-size: clamp(0.69rem, 2vw, 0.81rem);
}
