@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:wght@200..1000&display=swap');

:root {
  --input-border-color: #c0c0c0;
  --text-input-color: #3b3b3b;
  --text-primary-color: #252323;
  --text-secondary-color: #4b4b4b;
  --text-button-color: #ffffff;
  --divider-color: #d8d8d8;
  --bg-color: #ffffff;
  --cta-color: #36f;
  --cta-hover-color: #2b57d9;
  --accent-color: #f8d57e;
  --lead-form-color: #eef0f2;

  --font-family: 'Inter', sans-serif;
  --second-family: 'Mulish', sans-serif;
}

/* css reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  /* background-color: rgba(0, 136, 255, 0.2); */
}

ul {
  list-style: none;
}

/* body  */

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: var(--font-family);
  background-color: var(--bg-color);
}
/* text */

h1 {
  font-weight: 600;
  font-size: clamp(1.38rem, 4.5vw, 1.62rem);
  line-height: 130%;
  color: var(--text-primary-color);
}

h2 {
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 130%;
  color: var(--text-primary-color);
}

p {
  font-weight: 400;
  font-size: clamp(0.88rem, 2.8vw, 1rem);
  line-height: 150%;
  color: var(--text-secondary-color);
}

.text_small {
  font-size: 0.88rem;
}

/* button */

button {
  font-size: 0.88rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.86em 1.71em;
  cursor: pointer;
  background: var(--cta-color);
  transition: all 0.4s;
  color: var(--text-button-color);
}

button:focus,
button:focus-visible,
button:hover {
  border-color: var(--cta-hover-color);
  background: var(--cta-hover-color);
}

/* links */

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  line-height: 150%;
  color: var(--cta-color);
}

/* inputs */

input {
  border: 1px solid var(--input-border-color);
  border-radius: 0.5rem;
  min-height: 2.81rem;
  font-size: 0.88rem;
  line-height: 150%;
  padding: 0.86em 1.71em;
  color: var(--text-input-color);
}
